@model QuanLySanBanh.Models.BangGiaSan

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

@*<h2>Delete</h2>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>BangGiaSan</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Gio)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Gio)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.GiaTheoGio)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GiaTheoGio)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.San.TenSan)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.San.TenSan)
            </dd>

        </dl>

        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>*@
<style>
    .group-info {
        margin: 30px 0;
        display: flex;
        justify-content: space-between;
    }
</style>
<div style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
    <h3 style="color: red">Bạn có muốn xóa bảng giá sân này không?</h3>
    <div style=" background-color: #ee1e46; padding: 16px 88px; color: #fff; width: 500px; text-align: center;">
        <h2>Xóa bảng giá sân</h2>
    </div>
    <div style="padding: 0 30px; border: 3px solid rgba(255, 255, 255, 0.1); width: 500px;">
        <div class="group-info">
            <h5>Mã bảng giá sân</h5>
            <div style="width: 211px">
                <h5 style="word-wrap:break-word">@Model.MaGia</h5>
            </div>
        </div>
        <div class="group-info">
            <h5>Tên sân:</h5>
            <div style="width: 211px">
                <h5 style="word-wrap:break-word">@Model.San.TenSan</h5>
            </div>
        </div>
        <div class="group-info">
            <h5>Giờ: </h5>
            <div style="width: 211px">
                <h5 style="word-break:break-word">@Model.Gio</h5>
            </div>
        </div>
        <div class="group-info">
            <h5>Giá theo giờ: </h5>
            <div style="width: 211px">
                <h5 style="word-wrap:break-word">@string.Format("{0:#,##0} vnđ", @Model.GiaTheoGio)</h5>
            </div>
        </div>
        <div>
            @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
            <div class="form-actions no-color" style="display: flex; justify-content: space-between; margin-bottom: 20px;">
                @Html.ActionLink("Quay lại danh sách bảng giá sân", "Index",new {}, new { @class = "btn btn-outline-primary" })
                <input type="submit" value="Xóa" class="btn btn-outline-danger" />
            </div>
            }
        </div>
    </div>
</div>