@model QuanLySanBanh.Models.San

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
        <link rel="stylesheet" href="~/Content/lichSu.css" />
}

@*<h2>Delete</h2>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>San</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.TenSan)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TenSan)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DiaChi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DiaChi)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SoLuongSan)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SoLuongSan)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AnhSan)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AnhSan)
            </dd>

        </dl>

        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>*@
@*----------------------*@
<style>
    .group-info {
        margin: 30px 0;
        display: flex;
        justify-content: space-between;
    }
</style>
<div style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
    <h3 style="color: red">Bạn có muốn xóa sân bóng này không?</h3>
    <div style=" background-color: #ee1e46; padding: 16px 88px; color: #fff; width: 500px; text-align: center;">
        <h2>Xóa sân bóng</h2>
    </div>
    <div style="padding: 0 30px; border: 3px solid rgba(255, 255, 255, 0.1); width: 500px;">
        <div style="margin-top: 30px;">
            <img src="~/Images/@Model.AnhSan"
                 style="width: 100%; height: 100%;" alt="Avatar" />
        </div>
        <div class="group-info">
            <h5>Mã sân:</h5>
            <div style="width: 211px">
                <h5 style="word-wrap:break-word">@Model.MaSan</h5>
            </div>
        </div>
        <div class="group-info">
            <h5>Tên sân:</h5>
            <div style="width: 211px">
                <h5 style="word-wrap:break-word">@Model.TenSan</h5>
            </div>
        </div>
        <div class="group-info">
            <h5>Địa chỉ: </h5>
            <div style="width: 211px">
                <h5 style="word-break:break-word">@Model.DiaChi</h5>
            </div>
        </div>
        <div class="group-info">
            <h5>Số lượng sân: </h5>
            <div style="width: 211px">
                <h5 style="word-wrap:break-word">@Model.SoLuongSan</h5>
            </div>
        </div>
        <div>
            @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
            <div class="form-actions no-color" style="display: flex; justify-content: space-between; margin-bottom: 20px;">
                @Html.ActionLink("Quay lại danh sách sân", "Index",new {}, new { @class = "btn btn-outline-primary" })
                <input type="submit" value="Xóa" class="btn btn-outline-danger" />
            </div>
            }
        </div>
    </div>
</div>

