@model QuanLySanBanh.Models.ChiTietSan

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

@*<h2>Details</h2>

    <div>
        <h4>ChiTietSan</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.SoSan)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SoSan)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.San.TenSan)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.San.TenSan)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.MaCTS }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
<style>
    .group-info {
        margin: 30px 0;
        display: flex;
        justify-content: space-between;
    }
</style>
<div style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
    <div style=" background-color: #ee1e46; padding: 16px 88px; color: #fff; width: 500px; text-align: center;">
        <h2>Thông tin chi tiết sân bóng</h2>
    </div>
    <div style="padding: 0 30px; border: 3px solid rgba(255, 255, 255, 0.1); width: 500px;">
        <div class="group-info">
            <h5>Mã chi tiết sân:</h5>
            <div style="width: 211px">
                <h5 style="word-wrap:break-word">@Model.MaCTS</h5>
            </div>
        </div>
        <div class="group-info">
            <h5>Tên sân:</h5>
            <div style="width: 211px">
                <h5 style="word-wrap:break-word">@Model.San.TenSan</h5>
            </div>
        </div>
        <div class="group-info">
            <h5>Vị trí sân: </h5>
            <div style="width: 211px">
                <h5 style="word-break:break-word">@Model.SoSan</h5>
            </div>
        </div>
        <div>
            @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
            <div class="form-actions no-color" style="display: flex; justify-content: space-between; margin-bottom: 20px;">
                @Html.ActionLink("Quay lại danh sách chi tiết sân", "Index", new{ }, new { @class = "btn btn-outline-primary" })
                @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.MaCTS }, new{@class = "btn btn-outline-danger"})
            </div>
            }
        </div>
    </div>
</div>
