@model QuanLySanBanh.Models.TaiKhoan

@*@{
        ViewBag.Title = "Details";
        Layout = "~/Views/Shared/_Layout2.cshtml";
    }

    <h2>Details</h2>

    <div>
        <h4>TaiKhoan</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.TenTK)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TenTK)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MatKhau)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MatKhau)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.HoTen)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HoTen)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SDT)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SDT)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DiaChi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DiaChi)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Vip)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Vip)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DiemTich)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DiemTich)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Quyen)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Quyen)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.MaTK }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    String Vip;
}

<style>
    .group-info {
        margin: 30px 0;
        display: flex;
        justify-content: space-between;
    }
</style>
<div style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
    <div style=" background-color: #ee1e46; padding: 16px 88px; color: #fff; width: 500px;">
        <h2>Thông tin tài khoản</h2>
    </div>
    <div style="padding: 0 30px; border: 3px solid rgba(255, 255, 255, 0.1); width: 500px;">
        <div class="group-info">
            <h5>Tên tài khoản:</h5>
            <div style="width: 211px">
                <h5 style="word-wrap:break-word">@Model.TenTK</h5>
            </div>
        </div>
        <div class="group-info">
            <h5>Email: </h5>
            <div style="width: 211px">
                <h5 style="word-break:break-word">@Model.Email</h5>
            </div>
        </div>
        <div class="group-info">
            <h5>Họ và tên: </h5>
            <div style="width: 211px">
                <h5 style="word-wrap:break-word">@Model.HoTen</h5>
            </div>
        </div>
        <div class="group-info">
            <h5>Số Điện thoại:  </h5>
            <div style="width: 211px">
                <h5 style="word-wrap:break-word">@Model.SDT</h5>
            </div>
        </div>
        <div class="group-info">
            <h5>Địa chỉ: </h5>
            <div style="width: 211px">
                <h5 style="word-wrap:break-word">@Model.DiaChi</h5>
            </div>
        </div>
        <div class="group-info">
            <h5>Thành viên:</h5>
            <div style="width: 211px">
                @{
                    if (Model.Vip == true)
                    {
                        Vip = "Vip";
                    }
                    else
                    {
                        Vip = "Thường";
                    }
                }
                <h5 style="word-wrap:break-word">@Vip</h5>
            </div>
        </div>
        <div class="group-info">
            <h5>Điểm tích:</h5>
            <div style="width: 211px">
                <h5 style="word-wrap:break-word">@Model.DiemTich</h5>
            </div>
        </div>
        <div style="display: flex; justify-content: space-between; margin-bottom: 20px;">
            @Html.ActionLink("Đăng xuất", "Login", new { }, new { @class = "btn btn-outline-primary" })
            @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.MaTK }, new { @class = "btn btn-outline-danger" })
        </div>
    </div>
</div>


