@model QuanLySanBanh.Models.ChiTietSan

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ChiTietSan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SoSan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoSan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.San.TenSan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.San.TenSan)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaCTS }) |
    @Html.ActionLink("Back to List", "Index")
</p>
